
.info_pop_up .popup_info {
    position: absolute;
    top: 195px;
    left: 365px;
    width: 1190px;
    height: 611px;
    flex-shrink: 0;
}

.info_pop_up .popup_info .close_btn_area {
    position: absolute;
    top: 412px;
    right: 380px;
    width: 430px;
    height: 99px;
    flex-shrink: 0;
}

.main_area .active_button_area {
    position: absolute;
    top: 431px;
    left: 768px;
    width: 385px;
    height: 132px;
    flex-shrink: 0;
}

.main_area .active_button_area.off {
    display: none;
}


.goal_area .popup_info {
    position: absolute;
    top: 245px;
    left: 477px;
    width: 965px;
    height: 509px;
    flex-shrink: 0;
}

.goal_area .popup_info .close_btn_area {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 38px;
    height: 40px;
    flex-shrink: 0;
}

.main_area .side_area {
    position: absolute;
    top: 70px;
    left: -413px;
    width: 487px;
    height: 930px;
    flex-shrink: 0;
}

.main_area .side_area > .bg_img {
    opacity: 0;
}
.main_area .side_area.bg_on > .bg_img {
    opacity: 1;
}

.main_area .side_area > .drag_area {
    opacity: 0;
}

.main_area .side_area.bg_on > .drag_area {
    opacity: 1;
}

.main_area .side_area.on {
    left: 0;
}

.main_area .side_area .on_off_btn_area {
    position: absolute;
    top: 404px;
    right: 0;
    width: 74px;
    height: 177px;
    flex-shrink: 0;
}


.main_area .side_area.on .on_off_btn_area > img {
    display: none;
}

.main_area .side_area.freeze .on_off_btn_area {
    pointer-events: none;
}
.node {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
}

.node.off {
    pointer-events: none;
}

.node > img:nth-child(1) {
    display: block;
}

.node > img:nth-child(2) {
    display: none;
}

.node.off > img:nth-child(1) {
    display: none;
}

.node.off > img:nth-child(2) {
    display: block;
}

.side_area.freeze .node {
    pointer-events: none;
}


.node.type1{
    width: 281px;
    height: 311px;
    flex-shrink: 0;
}
.node.type2 {
    width: 286px;
    height: 311px;
    flex-shrink: 0;
}

.side_area .node.location1 {top: 111px;left: 51px;}
.side_area .node.location2 {top: 505px;left: 51px;}

.drop_area {
    position: absolute;
    top: 110px;
    left: 646px;
    width: 637px;
    height: 842px;
    background-color: #00000000;
}


.horizontal_dim {
    width: 1304px;
    height: 154px;
    flex-shrink: 0;
    opacity: 0;
}

.horizontal_dim > img{
    display: none;
}

.horizontal_dim.show1 {
    opacity: 1;
}

.horizontal_dim.show2 {
    opacity: 1;
}

.horizontal_dim.show1 > img:nth-child(1) {
    display: block;
}

.horizontal_dim.show2  > img:nth-child(2) {
    display: block;
}
.horizontal_dim.location1 {position: absolute; top: 287px; right: 306px}
.horizontal_dim.location2 {position: absolute; top: 451px; right: 306px}
.horizontal_dim.location3 {position: absolute; top: 617px; right: 306px}
.horizontal_dim.location4 {position: absolute; top: 781px; right: 306px}

.vertical_dim {
    width: 200px;
    height: 871px;
    flex-shrink: 0;
    opacity: 0;
}

.vertical_dim > img{
    display: none;
}

.vertical_dim.show1 {
    opacity: 1;
}

.vertical_dim.show2 {
    opacity: 1;
}

.vertical_dim.show1 > img:nth-child(1) {
    display: block;
}

.vertical_dim.show2  > img:nth-child(2) {
    display: block;
}
.vertical_dim.location1 {position: absolute; bottom: 34px; left: 730px}
.vertical_dim.location2 {position: absolute; bottom: 34px; left: 949px}
.vertical_dim.location3 {position: absolute; bottom: 34px; left: 1168px}
.vertical_dim.location4 {position: absolute; bottom: 34px; left: 1388px}

.side_area .drag_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.side_area.step1 .drag_area.location1 {
    display: block;
}
.side_area.step2 .drag_area.location2 {
    display: block;
}

.side_area  .text_info_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.side_area  .text_info_area .step_info {
    position: absolute;
    top: 22px;
    left: 24px;
    width: 100%;
    color: #066DE8;
    text-align: left;
    font-family: Pretendard;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.145px;
}

.side_area  .text_info_area .step_page_info {
    position: absolute;
    bottom: 26px;
    left: -30px;
    width: 100%;
    color: #B1B1B1;
    text-align: center;
    font-family: NanumSquareRound;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.88px;
}
.side_area  .text_info_area .step_page_info > span {
    color: #2C83EA;
}

.main_area .node_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_node {
    width: 224px;
    height: 151px;
    flex-shrink: 0;
}

.top_node > img {
    display: none;
}

.top_node.select1 > img:nth-child(1) { display: block}
.top_node.select2 > img:nth-child(2) { display: block}
.top_node.select3 > img:nth-child(3) { display: block}
.top_node.select4 > img:nth-child(4) { display: block}

.top_node.location1 {position: absolute; bottom: 749px; left: 716px}
.top_node.location2 {position: absolute; bottom: 749px; left: 936px}
.top_node.location3 {position: absolute; bottom: 749px; left: 1156px}
.top_node.location4 {position: absolute; bottom: 749px; left: 1376px}


.left_node {
    width: 386px;
    height: 155px;
    flex-shrink: 0;
}

.left_node > img {
    display: none;
}

.left_node.select1 > img:nth-child(1) { display: block}
.left_node.select2 > img:nth-child(2) { display: block}
.left_node.select3 > img:nth-child(3) { display: block}
.left_node.select4 > img:nth-child(4) { display: block}

.left_node.location1 {position: absolute; top: 286px; left: 311px}
.left_node.location2 {position: absolute; top: 451px; left: 311px}
.left_node.location3 {position: absolute; top: 616px; left: 311px}
.left_node.location4 {position: absolute; top: 781px; left: 311px}


.side_area .hint_area {
    position: absolute;
    bottom: 74px;
    right: 0;
    width: 244px;
    height: 98px;
    flex-shrink: 0;
    display: none;
}
.side_area .hint_area.show {
    display: block;
}

.side_area .next_btn_area {
    position: absolute;
    bottom: 0;
    right: 67px;
    width: 110px;
    height: 84px;
    flex-shrink: 0;
    pointer-events: none;
    cursor: pointer;
}

.side_area .next_btn_area.active {
    pointer-events: auto;
}

.side_area .next_btn_area > img:nth-child(2) {
    display: none;
}

.side_area .next_btn_area.active > img:nth-child(2) {
    display: block;
}

.reset_area .popup_info {
    position: absolute;
    top: 278px;
    left: 630px;
    width: 660px;
    height: 444px;
    flex-shrink: 0;
}

.reset_area .popup_info .no_btn_area {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 260px;
    height: 101px;
    flex-shrink: 0;
    cursor: pointer;
    pointer-events: auto;
}


.reset_area .popup_info .yes_btn_area {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 260px;
    height: 101px;
    flex-shrink: 0;
    cursor: pointer;
    pointer-events: auto;
}

.main_area .reset_btn_area {
    position: absolute;
    bottom: 22px;
    right: 30px;
    width: 120px;
    height: 120px;
    pointer-events: none;
    cursor: pointer;
}

.main_area .reset_btn_area.active {
    pointer-events: auto;
}

.main_area .reset_btn_area > img:nth-child(1) {
    display: none;
}

.main_area .reset_btn_area.active > img:nth-child(1) {
    display: block;
}
.main_area .reset_btn_area.active > img:nth-child(2) {
    display: none;
}

.main_area .goal_btn_area {
    position: absolute;
    top: 7px;
    right: 247px;
    width: 177px;
    height: 58px;
    flex-shrink: 0;
}

.main_area .tutorial_btn_area {
    position: absolute;
    top: 7px;
    right: 40px;
    width: 177px;
    height: 58px;
    flex-shrink: 0;
}

.main_node_area .main_node {
    width: 172px;
    height: 172px;
    flex-shrink: 0;
}

.main_node .btn_area {
    position: absolute;
    bottom: 11px;
    right: 6px;
    width: 64px;
    height: 64px;
    display: none;
}

.main_node.active .btn_area {
    display: block;
}

.main_node_area .main_node > img{
    width: 100%;
    height: 100%;
    position: absolute;
}


.main_node.location1{position: absolute;top: 278px;left: 742px}
.main_node.location2{position: absolute;top: 278px;left: 962px}
.main_node.location3{position: absolute;top: 278px;left: 1182px}
.main_node.location4{position: absolute;top: 278px;left: 1405px}
.main_node.location5{position: absolute;top: 443px;left: 742px}
.main_node.location6{position: absolute;top: 443px;left: 962px}
.main_node.location7{position: absolute;top: 443px;left: 1182px}
.main_node.location8{position: absolute;top: 451px;left: 1405px}
.main_node.location9{position: absolute;top: 608px;left: 742px}
.main_node.location10{position: absolute;top: 608px;left: 962px}
.main_node.location11{position: absolute;top: 608px;left: 1182px}
.main_node.location12{position: absolute;top: 608px;left: 1405px}
.main_node.location13{position: absolute;top: 773px;left: 742px}
.main_node.location14{position: absolute;top: 773px;left: 962px}
.main_node.location15{position: absolute;top: 773px;left: 1182px}
.main_node.location16{position: absolute;top: 773px;left: 1405px}




.detail_area .popup_info {
    position: absolute;
    top: 130px;
    left: 346px;
    width: 1228px;
    height: 740px;
    flex-shrink: 0;
}

.detail_area .popup_info .close_btn_area {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.detail_area .popup_info .image_info_area {
    position: absolute;
    top: 24px;
    left: 325px;
    width: 578px;
    height: 578px;
    flex-shrink: 0;
}

.detail_area .popup_info .image_info_area > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.detail_area .popup_info .text_info_area {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 56px;
    color: #FFF;
    text-align: center;
    font-family: NanumSquareRound;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}